@media only screen and (min-width: 810px){
    html {
        margin: 0% 7%;
    }
}

/* @media only screen and (min-width: 1000px){
    html {
        margin: 0% 15%;
    }
}

@media only screen and (max-width: 1000px){
    html {
        margin: 0% 5%;
    }
} */


.Site {
    display: flex;
    min-height: 98vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;    
}

#testtest{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

footer {
    width: 100%;
    display: flex;
}

#github {
    height: 35px;
}

#instagram {
    height: 35px;
    margin-left: 15px;
}

#linkedin {
    height: 35px;
    margin-left: 13px;
}

#footer li {
    display: inline;
    list-style-type: none;
}

#footer {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 810px){
    #footer {
        padding: 2%;
    }
}