html {
    margin: 0% 15%;
}

.Site {
    display: flex;
    min-height: 98vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;    
}

#testtest{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

footer {
    width: 100%;
    display: flex;
}

#github {
    height: 35px;
}

#instagram {
    height: 35px;
    margin-left: 15px;
}

#linkedin {
    height: 35px;
    margin-left: 13px;
}

#footer li {
    display: inline;
    list-style-type: none;
}

#footer {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}